Django==1.4.4
South==0.7.6
distribute==0.6.35
dj-database-url==0.2.1
django-usertools==1.0.2
psycopg2==2.4.6
wsgiref==0.1.2
django-storages==1.1.6
boto==2.8.0
django-require==1.0.2
django-herokuapp==0.9.11
waitress==0.8.2
pytz==2012j