Django==1.4.3
South==0.7.6
distribute==0.6.32
dj-database-url==0.2.1
django-usertools==1.0.2
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.16.1
psycopg2==2.4.6
wsgiref==0.1.2
django-storages==1.1.5
boto==2.6.0
psycogreen==1.0
django-require==1.0.1
django-herokuapp==0.9.6